/* Interfaz css para Ingreso Administrativo*/

.formulario1 {
    width: 600px;
    height: 325px;
    background-color: white;
    margin: auto;
    margin-top: 180px;
    padding: 30px 30px;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 20px;

}

.formulario1 .username1 .reglon1 {
    width: 89%;
    border: 1px solid rgb(189, 189, 189);
    margin-bottom: 30px;
    padding: 11px 10px;
    border-radius: 10px;
    font-family: sans-serif;

}

.formulario1 .username1 .reglon1 {
    width: 88%;
    border: 1px solid rgb(189, 189, 189);
    margin-bottom: 30px;
    padding: 11px;
    border-radius: 10px;
    font-family: sans-serif;

}

.razon1 {

    padding: 2px 100px;
    font-family: sans-serif;
    color: #9DC9E6;
}

.razon1:hover {
    color: #9DC9E6;

}

.bot1 .bot2 {
    width: 95%;
    border: 1px solid #349CE0;
    margin-bottom: 30px;
    padding: 8px 166px;
    font-family: sans-serif;
    background-color: #349CE0;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.bot1 .bot2:hover {
    background-color: #349CE0;
    border: 2px solid #349CE0;
    color: #9DC9E6;
}

.entregar1 {
    text-align: center;
    background-color: rgb(227, 223, 223);
    color: grey;
    border: 1px solid rgb(227, 223, 223);
}